/****** PLACE YOUR CUSTOM STYLES HERE ******/

.vph {
    height: 80vh;

}

.noheight {min-height: 0; }

.trsprent {
    background: transparent;

}




.h1x{ font-size: 72px; line-height: 80px; font-weight: 100; }

@media all and (max-width: 990px){
	.h1x{ font-size: 56px; line-height: 64px; }
}

@media all and (max-width: 767px){
	.h1x{ font-size: 32px; line-height: 40px; font-weight: 300; }
	
}

.white {
    color: white;
    font-weight: 400;
}

.white:hover {
    color: white;
}

.grey:hover {
    color: #666;
    font-size: 16px;
    font-weight: 400;

}

.grey {
    color: #666;
    font-size: 16px;
    font-weight: 400;
}

.lozad[data-background-image]{ 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    object-fit: cover; 
    background-size: cover;
    background-position: center center;
}

noscript div {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    object-fit: cover; 
    background-size: cover;
    background-position: center center;

}

p {
    font-size: 15px;
}
li {
    font-size: 15px;
}

.ul-indent {
    list-style-position: outside;
    list-style-type: none;
    
}

.ul-indent>li {
    padding: 13px;
    margin-bottom: 0px;
}

@media all and (max-width: 767px) {

.full-height-mobile { 
    min-height: 100vh; 
}

.mbpadtop {
    padding-top: 150px;
}

}



@media all and (min-width: 990px) {
    .height-img-square {
        height: 850px;
        max-height: 900px;
    }
}

br {
    display: inline-block !important;
    float: none;
    position: static;
 }


 @media all and (max-width: 990px) {
    .overflowyes {
        overflow: scroll !important;
    }
}



.hmap1 {
    height: 58vh;
}

@media all and (max-width: 770px) and (min-width: 500px) {
    .whyuspad {
        padding: 0 30px;
    }
}

@media all and (max-width: 500px) and (min-width: 300px) {
    .whyuspad {
        padding: 0 15px;
    }
}


